{
    "camera": {
        "aperture": 4,
        "iso": 320,
        "shutter": 0.032999999821186066
    },
    "light": {
        "direct": {
            "color": {
                "b": 0.8799999952316284,
                "g": 0.8799999952316284,
                "r": 0.8799999952316284
            },
            "intensity": 420,
            "x": 0.4790000021457672,
            "y": -0.6850000023841858,
            "z": -0.5479999780654907
        },
        "ibl": {
            "cubemap_path": "https://dtmall-tel.alicdn.com/taizhen/model_config/cubemap/cubemap_v31_210207.zip",
            "intensity": 220,
            "rotation": 0.0
        }
    },
    "scale": 1,
    "shaderRes": "/shaderResV3.1/bin/",
    "version": "4.1"
}